body {
    backgroud-color: rgb(19, 7, 7);
    margin: 0;
    font-family:buffering
}

.inicio {
display: flex;
height: 100vh;
}

.foto {
    flex:1;
background-color: rgb(26, 7, 7);
display: flex;
align-items: center;
justify-content: center;
}

.foto img{
width: 300px;
height :auto;
border-radius: 8px;
}